@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';
@import './base.css';

/* Paleta de Colores RutaPay*/
@theme {
  --color-primary: #449dd1;
  --color-secondary: #78c0e0;
  --color-dark: #052b4a;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
